Email Copywriting Agent.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Email_Copywriting_Vector_Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Email_Copywriting_Vector_Store": {
      "ai_tool": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Copywriter Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Consultant Bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subject Line Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Evergreen_Email_Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing_Vault_Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Email Copywriter Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-30T02:36:20.944Z",
  "id": "JM0NNEpiBcK1Nyh9",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Copywriting Agent",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        500,
        180
      ],
      "id": "bb46c00c-5946-4118-81ef-84f84957a4cf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"emailTemplate\": {\n    \"subjectLineOptions\": [\n      \"\",\n      \"\",\n      \"\"\n    ],\n    \"salutation\": \"\",\n    \"shockingStatement\": \"\",\n    \"bulletPoints\": [\n      \"\",\n      \"\",\n      \"\"\n    ],\n    \"strongOffer\": \"\",\n    \"callToActionWithUrgency\": \"\",\n    \"signOff\": \"\",\n    \"ps\": \"\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1140,
        140
      ],
      "id": "6c791724-0228-4cd7-9ae5-fa76ba381884",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5a13d91e-ba26-4d47-9b40-0e1742dfadd9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        480,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<AgentInstructions>\n    <Role>\n        <Name>Email Marketing AI Agent</Name>\n        <Description>An AI-powered email assistant that writes educational, entertaining, and promotional emails for the internal team. It researches content, references example emails, crafts high-quality subject lines, and audits its own output to ensure the best possible results.</Description>\n        <CurrentDate>{{$now}}</CurrentDate>\n    </Role>\n\n    <Goal>\n        <Primary>Generate high-quality emails based on user requests while ensuring relevance, format accuracy, and engagement.</Primary>\n    </Goal>\n\n    <Instructions>\n        <Instruction>Ask the user for the topic of the email.</Instruction>\n        <Instruction>Search the internet for relevant content or context to enhance email accuracy.</Instruction>\n        <Instruction>Reference the appropriate tool (Marketing Vault, Evergreen Email, or Promotional Email) to follow the correct email format and examples.</Instruction>\n        <Instruction>Generate a well-structured email using the selected tool’s format.</Instruction>\n        <Instruction>Use the Subject Line Tool to create three high-converting subject lines for the email.</Instruction>\n        <Instruction>Audit the generated email and subject lines, refining them to ensure the highest quality.</Instruction>\n        <Instruction>Provide the user with the final email and subject line options.</Instruction>\n    </Instructions>\n</AgentInstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        700,
        0
      ],
      "id": "f90ed4ae-18d9-4e3f-8c48-f2b2ec6f6639",
      "name": "Email Copywriter Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "email_copywriting_tool",
        "toolDescription": "=IMPORTANT: This tool MUST ONLY query the email_copywriting table for knowledge base information. DO NOT use or reference the generic documents table.Giveaway Promotion Email Tool\nThis tool is designed to craft high-conversion promotional emails for giveaways using proven copywriting formulas (AIDA, PAS, HSO). It must exclusively query the [email_copywriting] table for all subject lines, body copy, and calls to action—never referencing the generic documents table. Its goal is to maximize entries, leveraging powerful frameworks and persuasive language to ensure readers are motivated to participate.",
        "tableName": {
          "__rl": true,
          "value": "email_copywriting",
          "mode": "list",
          "cachedResultName": "email_copywriting"
        },
        "topK": 20,
        "options": {
          "queryName": "match_email_copywriting"
        }
      },
      "id": "96128274-f201-4d54-bff6-18ab0090fc71",
      "name": "Email_Copywriting_Vector_Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        420,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "BESzs41uaG2Yg4Xi",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.emailTemplate }}",
        "options": {
          "systemMessage": "=You are a world class copywriter. You understand the principals of human psychology.\n\nToday you are acting as a consultant and master copywriter for our company.\n\nYou understand if an email flow correctly, or if he audience is missing any context. \n\nYou always think about the audience and what objections the audience would have for not wanting to take action.\n\nYou answer the \"so what, why me, why should I do this right now\"\n\nYour job is to review this email:{{ $json.output }}\n\nYou will first criqtique it yourself and then once you have criqtuied it you will re-create the email to convert at a higher rate.\n\nYou must keep the same structure:\nSaluation: {{ $json.output.emailTemplate.salutation }}\nShocking Statement:{{ $json.output.emailTemplate.shockingStatement }}\nBullet Point 1: {{ $json.output.emailTemplate.bulletPoints[0] }}\nBullet Point 2: {{ $json.output.emailTemplate.bulletPoints[1] }}\nBullet Point 3: {{ $json.output.emailTemplate.bulletPoints[2] }}\nOffer: {{ $json.output.emailTemplate.strongOffer }}\nCTA:{{ $json.output.emailTemplate.callToActionWithUrgency }}\nSign Off:{{ $json.output.emailTemplate.signOff }}\nPS{{ $json.output.emailTemplate.ps }}\n\nYou use our audiences terminology and lingo.\nYou use short sentences.\nIt doens't sound like AI.\nYou always write at a 4th grade reading level.\nYou NEVER use emojis.\n\nYou are clear, not clever with your copy.\nYou use copywriting techniques to make our clients want to whip out their credit card."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1160,
        -460
      ],
      "id": "f882ab34-b474-4949-bea1-425674bbb5f5",
      "name": "Email Consultant Bot"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1140,
        -240
      ],
      "id": "7a1d2f71-6479-4daf-8410-ec769b164781",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        340,
        20
      ],
      "id": "e7096ebf-4c6e-4497-8bc1-0c2a90d83626",
      "name": "When chat message received",
      "webhookId": "a92a802f-80dd-4625-99fc-347f18ccb22e"
    },
    {
      "parameters": {
        "name": "Subject_Line_Tool",
        "description": "=Call this tool to create high converting subject lines for your emails.",
        "workflowId": {
          "__rl": true,
          "value": "QZy7s6hdiuaHrsvV",
          "mode": "list",
          "cachedResultName": "Subject Line Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        720,
        280
      ],
      "id": "34a17eee-4b13-42b9-8b1b-7d3aa687da55",
      "name": "Subject Line Tool"
    },
    {
      "parameters": {
        "name": "Evergeen_Email_Tool",
        "description": "call to tool to write educational emails on evergreen topics that would be relevant to my target audience",
        "workflowId": {
          "__rl": true,
          "value": "SxQbYjYbsZgjODZb",
          "mode": "list",
          "cachedResultName": "Evergreen Email Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        780,
        440
      ],
      "id": "4ed6775b-eaa3-40af-a1ad-b91b66e992f6",
      "name": "Evergreen_Email_Tool"
    },
    {
      "parameters": {
        "name": "Marketing_Vault_Tool",
        "description": "=Call this to to write new marketing vault emails for our target audience:\n\nA tech-savvy, energetic real estate agent with a passion for innovation. Thrives in fast-paced environments and values authenticity over tradition.\n\nCore Problem\n\nStruggles to scale their business effectively without burning out. Despite their hustle, they feel stuck in a loop of chasing leads and managing mundane tasks, leaving little time to improve their marketing and sales skills.\n\nPrimary Transformation\nIf a Genie Could Snap Their Fingers and Give Them the Perfect Solution our avatar would have a streamlined business with automated lead generation and a solid pipeline of ideal clients. They’d feel confident in their marketing skills, have a recognizable brand, and be part of a supportive community of modern agents.\n",
        "workflowId": {
          "__rl": true,
          "value": "HTyAEHmhFYUo1Uqr",
          "mode": "list",
          "cachedResultName": "Marketing Vault Email Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        920,
        280
      ],
      "id": "844b34d4-710b-4dcc-94c3-f9eb8912c8f0",
      "name": "Marketing_Vault_Tool"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "e4258908-5a13-4d3b-8aab-a7dbebeaa021",
      "name": "Wikipedia"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-01-30T02:36:20.960Z",
      "updatedAt": "2025-01-30T02:36:20.960Z",
      "role": "workflow:owner",
      "workflowId": "JM0NNEpiBcK1Nyh9",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-02T15:41:48.000Z",
  "versionId": "9afa50c3-b041-44b0-be43-b2c8f5c445a1"
}