Facebook Ad Campaigns - Analyze Weekly Metrics & Update Client.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get All Ad Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Ad Accounts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Campaigns in Ad Account": {
      "main": [
        [
          {
            "node": "Get All Campaign Metrics for Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Campaign Metrics for Campaign": {
      "main": [
        [
          {
            "node": "Filter Last 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Last 7 Days": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Campaign Data Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Active Campaigns in Ad Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Campaign Data Weekly Digest",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Campaign Data Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Campaign Data Risk Anayzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Campaign Data Risk Anayzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Contact on Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Data Analyzer": {
      "main": [
        [
          {
            "node": "Campaign Data Risk Anayzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Data Risk Anayzer": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Data Weekly Digest": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact on Notion": {
      "main": [
        [
          {
            "node": "Campaign Data Weekly Digest",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-01-31T15:50:17.550Z",
  "id": "tSnFcbsyWuoX7e2W",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Facebook Ad Campaigns - Analyze Weekly Metrics & Update Client",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1060,
        0
      ],
      "id": "0daa2c44-ec7f-40eb-a0c4-fdb415d5ff15",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "ad_accounts",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "is_visible",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ],
      "id": "a86bbc53-d0c7-4e81-a9e3-2fd13bef8cab",
      "name": "Get All Ad Accounts",
      "credentials": {
        "supabaseApi": {
          "id": "HhO7yCFHyxbzmZWK",
          "name": "Supabase Ads Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "campaigns",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "ad_account_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "ACTIVE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        20
      ],
      "id": "641cfee4-588b-48fc-8fce-d829db20644d",
      "name": "Get Active Campaigns in Ad Account",
      "credentials": {
        "supabaseApi": {
          "id": "HhO7yCFHyxbzmZWK",
          "name": "Supabase Ads Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "campaign_metrics",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "campaign_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        20
      ],
      "id": "110bb934-4e2d-4fd2-9382-1a33094f4c9e",
      "name": "Get All Campaign Metrics for Campaign",
      "credentials": {
        "supabaseApi": {
          "id": "HhO7yCFHyxbzmZWK",
          "name": "Supabase Ads Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6471f35e-0f73-4ba3-96e8-84af98d09a36",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate() - 7)) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        220,
        20
      ],
      "id": "678e5cff-fff9-4a80-bce0-1be3b03f6dbe",
      "name": "Filter Last 7 Days",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Get All Ad Accounts').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        460,
        20
      ],
      "id": "7c0c6ce9-fbbc-421b-8f05-1f8a00315dbf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "arslan@salesgenius.co",
        "subject": "={{ $('Loop Over Items').item.json.name }}'s Weekly Ad Performance Digest - {{ $('Find Contact on Notion').item.json.property_email }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false,
          "senderName": "SalesGenius"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2740,
        300
      ],
      "id": "82b31651-5f8a-42c6-ba34-860a5114303e",
      "name": "Gmail",
      "webhookId": "b5aabcef-0113-412e-a72f-d737ddbcf46b",
      "credentials": {
        "gmailOAuth2": {
          "id": "R2ppJs5mnCWrQakn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -580,
        0
      ],
      "id": "514cd229-82b8-4b9e-95a1-b5ed900e98e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        2360,
        480
      ],
      "id": "0f3f975b-7d5f-490c-b38f-8cc4b29da1be",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "vvRYzeVE6A8mYyNt",
          "name": "Anthropic - Claude"
        }
      }
    },
    {
      "parameters": {
        "content": "# Analyze & Summarize\n## This Weeks Campaign Metrics",
        "height": 540,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        -140
      ],
      "typeVersion": 1,
      "id": "4fae98e5-2bfe-4445-899b-09e83deb063b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Format Email to Custom Client Template and Send to Client",
        "height": 520,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        120
      ],
      "typeVersion": 1,
      "id": "c51fda5d-4e25-488e-9c0c-55f4f9ec0b71",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# to do:\n## - Add to send on a timer (once a week)\n",
        "height": 260,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        320
      ],
      "typeVersion": 1,
      "id": "c54ff6c9-fa90-44ee-88cc-2b80a0838aaf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-11-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        720,
        220
      ],
      "id": "36e4e2e2-2e39-4055-9634-2f56192b4f4e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1160,
        240
      ],
      "id": "4adafa38-a6a0-4bc8-b661-42c41ab18e26",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "vvRYzeVE6A8mYyNt",
          "name": "Anthropic - Claude"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"CPL over 25\": \"yes\",\n\t\"Number of leads\": \"4\",\n    \"CPL\":\"25.22\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1340,
        240
      ],
      "id": "2f46ef35-b3f9-4aaa-9539-f414ab14c1b6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ddab596-971d-4058-9fa0-5af5e7ae1d61",
              "leftValue": "={{ $('Campaign Data Risk Anayzer').item.json.output[\"CPL over 25\"] }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "2e905aab-e5f2-494a-9ca3-b95d43e5f497",
              "leftValue": "={{ $('Campaign Data Risk Anayzer').item.json.output[\"Number of leads\"] }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": "=0",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        20
      ],
      "id": "1deb2bfb-8051-4d75-b3c9-b7ad1cb6a210",
      "name": "If",
      "notesInFlow": true,
      "notes": "If CPL is higher than $25"
    },
    {
      "parameters": {
        "content": "# 🚨 🚨 Send Slack Alert to the team 🚨 🚨\n# Notify them about high CPL",
        "height": 460,
        "width": 700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -460
      ],
      "typeVersion": 1,
      "id": "6476a41f-8f5d-4768-9911-dd3dda3b30ec",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08AE0Z3AG5",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "=:rotating_light: ALERT: Client with HIGH Cost per lead this week:  {{ $('Loop Over Items').item.json.name }}\n\nCPL was {{ $('Campaign Data Risk Anayzer').item.json.output.CPL }}\nNumber of Leads: {{ $('Campaign Data Risk Anayzer').item.json.output[\"Number of leads\"] }} \n<https://adsmanager.facebook.com/adsmanager/manage/campaigns?{{ $('Loop Over Items').item.json.id }}|Click Here to view Ad Account>\n",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": false,
          "unfurl_links": false,
          "unfurl_media": true,
          "sendAsUser": ""
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2060,
        -240
      ],
      "id": "7800ab90-9620-403e-9361-a21f55129181",
      "name": "Slack",
      "webhookId": "bc124c19-6fb8-44c3-ac7c-9b0e5317751e",
      "credentials": {
        "slackApi": {
          "id": "5goi1ZcCB6TvJ8SQ",
          "name": "OAuth User"
        }
      }
    },
    {
      "parameters": {
        "content": "# Is CPL Over $25?\n## or ZERO leads this week?",
        "height": 540,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        -140
      ],
      "typeVersion": 1,
      "id": "1a9b1153-c338-47a2-b6ae-05f374027c23",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the performance of the Facebook ad campaign for {{ $('Get All Ad Accounts').item.json.name }} over the last week of data. Focus on key metrics such as Cost Per Lead (CPL), total engagement, and cost efficiency to showcase campaign success. Calculate and present total CPL over the week, ensuring clear and client-focused insights.\n\nInstructions:\nUsing the provided data, calculate and analyze the following:\n\n1. Weekly Metrics Overview\nSum the total leads and total amount spent over the week to calculate the overall CPL (Cost Per Lead) for the campaign.\nFormula: Total CPL = Total Amount Spent ÷ Total Leads.\nHighlight any daily trends (e.g., best-performing day based on CTR, clicks, or CPC).\n2. Engagement Metrics\nShowcase metrics such as CTR (Click-Through Rate), CPC (Cost Per Click), and CPM (Cost Per Mille) to emphasize audience interaction.\nMention if higher spending led to more engagement (e.g., clicks or reach).\n3. Budget Efficiency\nHighlight how the campaign is utilizing its budget to drive results.\nIf no leads are recorded, reassure the client with engagement metrics and suggest potential lead growth trends.\n4. Positive Outcomes\nSummarize the key wins for the campaign, focusing on what’s working well.\n\nHere is {{ $('Get All Ad Accounts').item.json.name }}'s campaign metric data from last week:\n\n{{ JSON.stringify($node[\"Aggregate\"].json, null, 2) }}\n\n\nImportant: the CTR needs to be devided by 100, the database does not correctly store it\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        720,
        20
      ],
      "id": "55ba3c7f-bc7a-4fc7-a6b5-0147375e3981",
      "name": "Campaign Data Analyzer",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your job is to tell me if 3 things from the data:\n1. If the CPL was over $25 (Yes/no)\n2. Total number of leads this week (Just the number)\n3. What was the Weekly Cost Per Lead? (Just the number)\n\n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1180,
        20
      ],
      "id": "067c8ab5-0601-4ddd-a633-d7ff0648fbd1",
      "name": "Campaign Data Risk Anayzer",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform the following facebook campaign performance data into an HTML email body in the boilerplate email template below.\n\nThe output should: Be HTML-only (no additional text or explanations).\n\nHere are the content that needs to be put into the email:\n\n{{ $('Campaign Data Analyzer').item.json.output }}\n\n\nHere is the email boiler plate: \n\n<!DOCTYPE html>\n<html>\n\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <title>Email Report</title>\n    <style>\n        body,\n        table,\n        td {\n            font-family: Arial, sans-serif;\n            font-size: 16px;\n            color: #ffffff;\n        }\n\n        body {\n            margin: 0;\n            padding: 0;\n            background-color: #0d0d0d;\n            /* Full dark background */\n        }\n\n        .container {\n            width: 100%;\n            max-width: 600px;\n            margin: 0 auto;\n            background-color: #1a1a1a;\n            /* Dark container */\n            padding: 20px;\n            border-radius: 8px;\n            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);\n        }\n\n        .logo {\n            text-align: center;\n            padding: 10px 0;\n        }\n\n        .logo img {\n            width: 180px;\n        }\n\n        .content {\n            text-align: left;\n            padding: 20px;\n        }\n\n        .section {\n            margin-bottom: 20px;\n            padding: 15px;\n            border-radius: 6px;\n        }\n\n        .impressions {\n            background-color: #2a2a72;\n        }\n\n        /* Blue */\n        .clicks {\n            background-color: #1e5631;\n        }\n\n        /* Green */\n        .leads {\n            background-color: #722a2a;\n        }\n\n        /* Red */\n        .highlight {\n            font-weight: bold;\n            color: #ffd700;\n        }\n\n        /* Gold for key data */\n        .footer {\n            text-align: center;\n            font-size: 14px;\n            color: #aaaaaa;\n            padding: 20px;\n        }\n\n        @media screen and (max-width: 480px) {\n            .content {\n                padding: 10px;\n            }\n        }\n    </style>\n</head>\n\n<body>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n        <tbody>\n            <tr>\n                <td align=\"center\">\n                    <table class=\"container\">\n                        <tbody>\n                            <tr>\n                                <td class=\"logo\"><img src=\"https://assets.cdn.filesafe.space/zpjvSoJ3TMkdq8pcj7VJ/media/6499bf999db2c32f4ad9391e.png\" alt=\"SalesGenius Logo\"></td>\n                            </tr>\n                            <tr>\n                                <td class=\"content \">\n                                    <p>Hello <span class=\"highlight\">[Client Name]</span>,</p>\n                                    <p>I hope you&apos;re doing well. Last week (<span class=\"highlight\">[Start Date - 8 Days Ago] - [End Date - 1 Day Ago]</span>), we spent <span class=\"highlight\">$[Total Spend]</span> on Facebook ads and generated <span class=\"highlight\">[Total Leads]</span> leads. That means each lead cost us <span class=\"highlight\">$[CPL]</span> (Cost Per Lead).</p>\n                                    <p><strong>How People Moved Through the Funnel:</strong></p><!-- Impressions Section -->\n                                    <div class=\"section impressions\">\n                                        <p><strong>👀 Impressions</strong></p>\n                                        <p>Your ads were shown <span class=\"highlight\">[Number of Impressions]</span> times. An impression is counted every time your ad is displayed on someone&rsquo;s screen in their Facebook or Instagram feed, regardless of whether they click or engage with it.</p>\n                                    </div><!-- Clicks Section -->\n                                    <div class=\"section clicks\">\n                                        <p><strong>☝️ Clicks</strong></p>\n                                        <p>Out of all the people who saw your ad, <span class=\"highlight\">[Number of Clicks]</span> clicked on it. Each click represents a potential lead who was interested enough to take action.</p>\n                                        <p>The <strong>Click-Through Rate (CTR)</strong> was&nbsp;<span class=\"highlight\">[CTR]%</span>. CTR is calculated as (Clicks &divide; Impressions) &times; 100. A higher CTR means more people found your ad engaging and relevant.<br><br>The benchmark we have at SalesGenius for <strong>CTR is 3%</strong>. This means your ad is <span class=\"highlight\">[Comparison with 3% benchmark]</span></p>\n                                    </div><!-- Leads Section -->\n                                    <div class=\"section leads\">\n                                        <p><strong>👥 Leads</strong></p>\n                                        <p>From those clicks, we ended up with <span class=\"highlight\">[Total Leads]</span> leads. Leads are the most valuable part of our funnel since they show real potential customers.</p>\n                                        <p>The <strong>Cost Per Lead (CPL)</strong> was <span class=\"highlight\">$[CPL]</span>. CPL is calculated as <strong>(Total Spend &divide; Total Leads)</strong>. This means we spent&nbsp;<strong>$[CPL] for each new lead</strong> who showed interest in your offer.&nbsp;<br><br>The benchmark we have at SalesGenius for <strong>CPL is $20</strong>. This means your ad is <span class=\"highlight\">[Comparison with $20 CPL benchmark]</span></p>\n                                    </div><!-- Best Performing Day -->\n                                    <p><strong>🌟 Best Performing Day</strong></p>\n                                    <p>Our best day was <span class=\"highlight\">[Best Day/Date]</span>, with <span class=\"highlight\">[Best Day Leads]</span> leads and a Cost Per Lead of <span class=\"highlight\">$[Best Day CPL]</span>. This day gave us the best value for our spend.</p>\n                                    <p>Thank you for reading! If you have any questions, feel free to reach out.</p>\n                                </td>\n                            </tr>\n                            <tr>\n                                <td class=\"footer\">\n                                    <p>Best regards,</p>\n                                    <p><strong>The SalesGenius Team</strong></p>\n                                </td>\n                            </tr>\n                        </tbody>\n                    </table>\n                </td>\n            </tr>\n        </tbody>\n    </table>\n</body>\n\n</html>\n\n\n\nImportant: Do not change the boilerplate, the output should be html nothing else\nImportant: Do not output with any variable names, all variables should be filled out from the data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2380,
        300
      ],
      "id": "651bc896-8ec2-48da-9195-d137688df324",
      "name": "Campaign Data Weekly Digest",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1761d08c-4f5a-8016-89dd-f81384652240",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://www.notion.so/1761d08c4f5a801689ddf81384652240"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "ad_account_number|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2080,
        320
      ],
      "id": "4adeb898-dde1-4e6e-86b9-6cbac83a556e",
      "name": "Find Contact on Notion",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "notionApi": {
          "id": "3EhNxVoPGBbOY9vC",
          "name": "Notion account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-01-31T15:50:17.556Z",
      "updatedAt": "2025-01-31T15:50:17.556Z",
      "role": "workflow:owner",
      "workflowId": "tSnFcbsyWuoX7e2W",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-03T20:42:28.000Z",
  "versionId": "50245363-0e58-4e13-b192-c88b52c3f0c8"
}