Follow Up Factory - Past Client -12 Month Nurture.json
{
  "active": true,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-11T22:59:17.111Z",
  "id": "5Dc7GFrZZgq7Xow4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Follow Up Factory - Past Client -12 Month Nurture",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        -20
      ],
      "id": "0b601828-b92c-408e-9c9b-e4567dbd80fe",
      "name": "When chat message received",
      "webhookId": "1eb24b23-a636-4a9b-81da-fbcc64be2c4f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview  \nYou are an AI agent specializing in direct response copywriting and real estate marketing. Your task is to create a 12-month nurture sequence for past clients, incorporating a mix of emails, calls, personalized videos, and gifts. The goal is to maintain long-term client relationships, provide ongoing value, and subtly encourage referrals.  \n\n## Context  \n- The AI agent will develop a relationship-building communication strategy for past home buyers and sellers.  \n- Content should be warm, personal, and engaging, inspired by industry experts like Sharran Srivats, Dean Jackson, Alex Hormiz, Sabri Suby, Jeremy Miner, and Cole Gordon.  \n- Each interaction should reinforce the realtor’s role as a trusted lifelong advisor.  \n\n## Instructions  \n1. **Develop a 12-month nurture sequence** with **2 touchpoints per month** (24 total).  \n2. **Vary the touchpoints** between emails, calls, videos, and thoughtful gifts.  \n3. **Ensure each message provides value**, maintains engagement, and encourages further interaction.  \n4. **Use advanced copywriting techniques** such as storytelling, structured messaging, and open-ended call prompts.  \n5. **Customize messaging** to the specific brand, tone, and past client context provided by the user.  \n\n## Tools  \n- Email Template Generator  \n- Call Script Outline Generator  \n- Video Concept Generator  \n- Gift Recommendation Engine  \n\n## Examples  \n\n### Email Example  \n**Subject:** “Quick home tip for you, [Client’s First Name]!”  \n**Introduction:** “Hi [Client’s Name], hope you're doing great! I wanted to share something valuable with you today.”  \n**Body:**  \n- Market trends update  \n- Seasonal home maintenance tip  \n- Local event happening this month  \n**CTA:** “Reply and let me know what you think!”  \n\n### Call Example  \n**Topic:** Checking in on home improvements  \n**Talking Points:**  \n- Ask about any updates to their home  \n- Discuss any plans for renovations or refinancing  \n- Offer insights on the current market  \n\n### Video Example  \n**Topic:** Celebrating a home anniversary  \n**Purpose:** Strengthening the relationship by acknowledging an important milestone.  \n\n### Gift Example  \n**Idea:** Handwritten note + a small branded home gift (e.g., a plant, a candle)  \n**Purpose:** Personal touch to reinforce long-term loyalty.  \n\n## SOP (Standard Operating Procedure)  \n1. **Gather Client Information** (home purchase/sale date, location, interests).  \n2. **Segment Clients** based on relevant criteria (buyer/seller, recent/multiple transactions).  \n3. **Generate Content** tailored to their needs and local market trends.  \n4. **Schedule Touchpoints** to ensure a consistent 12-month nurture sequence.  \n5. **Track Engagement** and adjust messaging based on client responses.  \n\n## Final Notes  \n- Maintain a **conversational and insightful tone** in all communications.  \n- Ensure **each message is valuable, timely, and engaging**.  \n- Use a **mix of education and relationship-building** strategies.  \n- The sequence should subtly encourage **referrals and repeat business**.  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        360,
        -20
      ],
      "id": "16ed799b-ee53-4ded-a5e5-82c6317cbcfe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini-2025-01-31",
          "mode": "list",
          "cachedResultName": "o3-mini-2025-01-31"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        280,
        180
      ],
      "id": "2be986ac-eea9-41b4-8f7f-1da0b844cd48",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OuCQDhJFLNpO2FbW",
          "name": "Arslans Open Ai Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "13673677-f15a-4cdf-8e44-5892f6292217",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        120,
        -20
      ],
      "id": "4d4167c3-663b-4ac1-a4b9-1b7f72e19a71",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        460,
        200
      ],
      "id": "f21e284e-2aec-45e3-8190-6128fd21fba2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "J7FvW5h51etk1zFV",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"DripSequence\": [\n    {\n      \"step\": 0,\n      \"day\": 0,\n      \"type\": \"\",\n      \"number\": 0,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"\",\n      \"notes\": \"\"\n    },\n    {\n      \"step\": 0,\n      \"day\": 0,\n      \"type\": \"\",\n      \"number\": 0,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"\",\n      \"notes\": \"\"\n    },\n    {\n      \"step\": 0,\n      \"day\": 0,\n      \"type\": \"\",\n      \"number\": 0,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"\",\n      \"notes\": \"\"\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        640,
        200
      ],
      "id": "ef4ff865-d099-4cc5-9a73-c51f9b01de28",
      "name": "Structured Output Parser"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-02-11T22:59:17.119Z",
      "updatedAt": "2025-02-11T22:59:17.119Z",
      "role": "workflow:owner",
      "workflowId": "5Dc7GFrZZgq7Xow4",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-14T16:56:51.849Z",
      "updatedAt": "2025-02-14T16:56:51.849Z",
      "id": "g5SEFenIZT3364V0",
      "name": "Follow Up Factory"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-02-20T16:05:46.000Z",
  "versionId": "20026195-6390-4e78-b538-f4e8a9f13dfc"
}