Follow Up Factory - Ryans Secret Sauce.json
{
  "active": true,
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Google Doc1": {
      "main": [
        []
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "New RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "New RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "ryans_emails",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Text File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to Google Doc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ryans_emails": {
      "ai_tool": [
        [
          {
            "node": "New RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "New RAG Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "New RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "New RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-14T02:39:11.738Z",
  "id": "bJHzzjjrpueixIXH",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Follow Up Factory - Ryans Secret Sauce",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b801a1cd-fab9-4c93-b9b8-462c7baf92cd",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1700,
        3880
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "7f9bdf33-e09e-42a5-9b4e-0fbad253fc43",
      "name": "Summarize1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        1900,
        3880
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "137814bc-5354-4072-89fb-b48b7234808f",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        3540
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "a608e5bf-57a9-4f05-9e3b-28412b630b40",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        3880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set File ID1').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set File ID1').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "755d5f66-46a6-4d98-98af-58dc7cdada37",
      "name": "Convert to Google Doc1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        4060
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tEDUQKIOBAWPpPPb",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a72f5435-518e-4ed6-bb95-957c725498ea",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        3840
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "cb6d2c57-3ff7-4f67-80b2-a1126b80dbe4",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        520,
        4000
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tEDUQKIOBAWPpPPb",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2360,
        3920
      ],
      "id": "7f3f4a94-594b-47a3-a957-d3f7466c8c87",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2120,
        3860
      ],
      "id": "5abea0b9-c427-49d8-ae8f-cef2d1a1b874",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Add to PineCone Vector Datastore - Any New Files Added in Ryan Email Folder\n## Folder URL: https://drive.google.com/drive/u/0/folders/1O8Cmf6xFequHbkhsF_kadw78hY-4JwRl",
        "height": 740,
        "width": 2660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        3480
      ],
      "typeVersion": 1,
      "id": "7f75fa91-8098-4c1d-bc8e-8a3aa0ca6a43",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        360,
        3840
      ],
      "id": "7498aca8-07b3-47fa-a92b-81556f2b35aa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7e520d7e-8605-4641-9af5-02e9d2efc127",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2280,
        3760
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "=1O8Cmf6xFequHbkhsF_kadw78hY-4JwRl",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4774ac27-2ba1-4fbe-b905-5df9ca510a6a",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        3840
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tEDUQKIOBAWPpPPb",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a94a8eba-86df-4903-a03b-58f0e87d59fc",
      "name": "Extract from Text File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        3700
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "498745a7-f3b4-4aac-a075-c92067d8ed8f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        2600
      ],
      "webhookId": "9d00c566-7f3f-4c96-8702-5c5005ff0694"
    },
    {
      "parameters": {
        "model": "o3-mini",
        "options": {}
      },
      "id": "56bfac5c-6cc6-4ae7-b53c-91d1cb065dd8",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        340,
        2820
      ],
      "credentials": {
        "openAiApi": {
          "id": "OuCQDhJFLNpO2FbW",
          "name": "Arslans Open Ai Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4f3cdad6-84ef-4ea5-8a2c-5c3c1b25251a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        580,
        3080
      ],
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Chat Bot with **Drip Sequence** Structured Output\n## Use it Here: https://followupfactory.salesgenius.co/",
        "height": 888,
        "width": 862,
        "color": 6
      },
      "id": "af8a2fb3-6237-4154-88db-8d7756ae4099",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        2440
      ]
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Overview  \nYou are an AI agent designed to help real estate agents create highly effective, engaging, and value-driven lead nurture campaigns. These campaigns incorporate phone calls, text messages, and emails to engage leads at different stages of the real estate process.  \n\n## Context  \n- You create **persona-specific** nurture sequences based on user input like these examples:  \n  - First-time condo buyers  \n  - Upsizing families selling for the first time  \n  - Downsizers moving into smaller homes  \n  - Investors seeking the perfect property  \n- Campaigns are designed with **high-converting messaging** inspired by top sales experts, including:  \n  - Dean Jackson, Sharran Srivatsaa, Ryan Serhant, Alex Hormozi, and Cole Gordon.  \n  - Email subject lines follow principles from Dan Kennedy, Chad S. White, Ramit Sethi, and Alex Hormozi’s team.  \n- Your output **must be formatted as a structured JSON object** under the `\"DripSequence\"` key to ensure compatibility with the **output parser**.  \n- Email content is retrieved and optimized using the **Pinecone vector tool**: **ryans_emails** (Index: **salesgenius1**).  \n- Nurture campaigns should be designed for **Follow Up Boss, Lofty, KVCore, or Sync CRM**, ensuring automation compatibility.  \n\n## Instructions  \n1. **Before generating a nurture campaign, ask the following clarifying questions:**  \n   - How long should the sequence run? (e.g., 60 days, 12 months, 48 months)   \n   - What tone should the sequence have? (Professional, Casual, or Funny/Whimsical Authoritative)  \n   - Which CRM will this be used with? (Follow Up Boss, Lofty, KVCore, Sync)  \n   - What city/town & country is the user located in? (For market-relevant references)  \n2. **Ensure at least six phone calls in the first seven days**, with a **double-dial attempt** in the first five minutes of a new lead.  \n3. **Do NOT recommend voicemails**—only live calls.  \n4. Replace **\"check-in\"** with **\"Value Contact Point\"** in all messaging.  \n5. **Use urgency, storytelling, and engagement-driven techniques** to maximize response rates.  \n6. **Ensure the final output follows this exact JSON format:**  \n\n---\n\n## **Output Format (JSON)**\n```json\n{\n  \"DripSequence\": [\n    {\n      \"step\": 1,\n      \"day\": 0,\n      \"type\": \"Phone Call\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"[Live phone call – no voicemail]\",\n      \"notes\": \"Trigger a double-dial attempt within 5 minutes of receiving the lead.\"\n    },\n    {\n      \"step\": 2,\n      \"day\": 0,\n      \"type\": \"SMS\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"Hey [First Name]! [Agent Name] here from [Team Name]. I just came across something that perfectly matches your [buyer/seller] goals. Got a minute?\",\n      \"notes\": \"\"\n    },\n    {\n      \"step\": 3,\n      \"day\": 0,\n      \"type\": \"Email\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"Toronto Investment Goldmine Awaits – Are You In?\",\n      \"body\": \"Hey [First Name],\\n\\nWelcome to the most entertaining (and lucrative) investment ride you’ll ever take in Toronto! I’m John, and my mission is to help savvy investors like you spot those hidden goldmines—while having a bit of fun along the way.\\n\\n🚀 Here’s what’s in store:\\n- Insider intel on Toronto’s hottest investment zones\\n- Surprising stats that’ll make your competitors sweat\\n- A wicked sense of humor to lighten your day\\n\\nReady for your first Value Contact Point? Hit reply, and let’s chat!\",\n      \"notes\": \"First email should have a compelling hook and humor.\"\n    },\n    {\n      \"step\": 4,\n      \"day\": 1,\n      \"type\": \"Phone Call\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 1,\n      \"subject\": \"\",\n      \"body\": \"[Live phone call – no voicemail]\",\n      \"notes\": \"Reinforce urgency and Value Contact Point.\"\n    },\n    {\n      \"step\": 5,\n      \"day\": 2,\n      \"type\": \"SMS\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 1,\n      \"subject\": \"\",\n      \"body\": \"Hey [First Name], quick update: I’ve got some inside info on [specific market insight]. Let me know if you’re free to chat today!\",\n      \"notes\": \"Casual but engaging follow-up.\"\n    },\n    {\n      \"step\": 6,\n      \"day\": 4,\n      \"type\": \"Email\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 2,\n      \"subject\": \"Alert: Toronto’s Investment Hotspots – Act Fast or Miss Out!\",\n      \"body\": \"Hey [First Name],\\n\\nPicture this: while others are snoozing, you could be reaping the rewards of Toronto’s sizzling investment hotspots.\\n\\nI recently unearthed a property opportunity that’s so promising, it practically screams your name – in a very polite Canadian accent, of course.\\n\\n🔥 Highlights include:\\n- Unexpected market shifts that signal serious profit potential\\n- A story of an investor who laughed all the way to the bank (okay, almost!)\\n\\nLet’s set up a Value Contact Point to discuss. Let me know when you're free!\",\n      \"notes\": \"Use FOMO and urgency to drive engagement.\"\n    }\n  ]\n}\nSOP (Standard Operating Procedure)\nGather lead details, including persona type, location, and CRM integration.\nDetermine nurture campaign duration and follow-up frequency.\nQuery ryans_emails in Pinecone (salesgenius1) to retrieve optimized email content.\nCraft high-impact subject lines and email copy based on conversion psychology.\nSchedule phone calls, ensuring at least six in the first seven days.\nStructure the sequence for seamless CRM automation.\nOptimize messaging for urgency, value, and conversion.\nEnsure the output follows the required JSON format and is fully compatible with the output parser.\nFinal Notes\nDO NOT generate responses in plain text. The final output must be a JSON object structured under \"DripSequence\".\nAlways ensure messaging is optimized for engagement and conversion.\nUse a mix of phone, text, and email to maintain top-of-mind awareness.\nPersonalize messaging based on market trends and lead personas.\nAlign campaign strategies with proven real estate sales methodologies.\n\n\n\nUSE THE STRUCTURED OUTPUT TO MAKE SURE ITS JSON RESPONSE\n"
        }
      },
      "id": "f443966e-9dbc-42ec-b9ed-b815c14005f5",
      "name": "New RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        2600
      ],
      "notesInFlow": true,
      "notes": "\n---\n\n### **What’s Improved in This Version?**  \n✅ **Ensures strict JSON output** – AI will **only generate JSON**, making it parser-friendly.  \n✅ **Integrated Output Parser Compliance** – No deviations from the required format.  \n✅ **Stronger Automation Readiness** – CRM-friendly structure for direct implementation.  \n✅ **Optimized for Performance** – Structured prompts ensure high-converting messaging.  \n\nThis guarantees **flawless, structured AI-generated drip sequences** that seamlessly integrate into your workflow. 🚀 Let me know if you need further refinements!\n"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set File ID1').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "46627d00-89ce-4647-964e-05e1550d54c9",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        920,
        3760
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "salesgenius1",
          "mode": "list",
          "cachedResultName": "salesgenius1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2120,
        3540
      ],
      "id": "714ae3ae-73b3-432d-95e1-330fa25e1011",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qy0ujFmZWGfaw0Qi",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "ryans_emails",
        "toolDescription": "work with the data in the database",
        "pineconeIndex": {
          "__rl": true,
          "value": "salesgenius1",
          "mode": "list",
          "cachedResultName": "salesgenius1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        480,
        2900
      ],
      "id": "f536dab5-b8c3-4664-b7e3-a1a71d6def45",
      "name": "ryans_emails",
      "credentials": {
        "pineconeApi": {
          "id": "qy0ujFmZWGfaw0Qi",
          "name": "Pinecone"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"DripSequence\": [\n    {\n      \"step\": 1,\n      \"day\": 0,\n      \"type\": \"Phone Call\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"[Live phone call – no voicemail]\",\n      \"notes\": \"Trigger a double-dial attempt within 5 minutes of receiving the lead.\"\n    },\n    {\n      \"step\": 2,\n      \"day\": 0,\n      \"type\": \"SMS\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"Hey [First Name]! [Agent Name] here from [Team Name]. I just came across something that perfectly matches your [buyer/seller] goals. Got a minute?\",\n      \"notes\": \"\"\n    },\n    {\n      \"step\": 3,\n      \"day\": 0,\n      \"type\": \"Email\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"Toronto Investment Goldmine Awaits – Are You In?\",\n      \"body\": \"Hey [First Name],\\n\\nWelcome to the most entertaining (and lucrative) investment ride you’ll ever take in Toronto! I’m John, and my mission is to help savvy investors like you spot those hidden goldmines—while having a bit of fun along the way.\\n\\n🚀 Here’s what’s in store:\\n- Insider intel on Toronto’s hottest investment zones\\n- Surprising stats that’ll make your competitors sweat\\n- A wicked sense of humor to lighten your day\\n\\nReady for your first Value Contact Point? Hit reply, and let’s chat!\",\n      \"notes\": \"First email should have a compelling hook and humor.\"\n    },\n    {\n      \"step\": 4,\n      \"day\": 1,\n      \"type\": \"Phone Call\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 1,\n      \"subject\": \"\",\n      \"body\": \"[Live phone call – no voicemail]\",\n      \"notes\": \"Reinforce urgency and Value Contact Point.\"\n    },\n    {\n      \"step\": 5,\n      \"day\": 2,\n      \"type\": \"SMS\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 1,\n      \"subject\": \"\",\n      \"body\": \"Hey [First Name], quick update: I’ve got some inside info on [specific market insight]. Let me know if you’re free to chat today!\",\n      \"notes\": \"Casual but engaging follow-up.\"\n    },\n    {\n      \"step\": 6,\n      \"day\": 4,\n      \"type\": \"Email\",\n      \"number\": 2,\n      \"daysAfterLastStep\": 2,\n      \"subject\": \"Alert: Toronto’s Investment Hotspots – Act Fast or Miss Out!\",\n      \"body\": \"Hey [First Name],\\n\\nPicture this: while others are snoozing, you could be reaping the rewards of Toronto’s sizzling investment hotspots.\\n\\nI recently unearthed a property opportunity that’s so promising, it practically screams your name – in a very polite Canadian accent, of course.\\n\\n🔥 Highlights include:\\n- Unexpected market shifts that signal serious profit potential\\n- A story of an investor who laughed all the way to the bank (okay, almost!)\\n\\nLet’s set up a Value Contact Point to discuss. Let me know when you're free!\",\n      \"notes\": \"Use FOMO and urgency to drive engagement.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        840,
        2720
      ],
      "id": "42d6351e-7daf-430b-9882-9707d8540529",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Output Example\n{\"DripSequence\": [\n    {\n      \"step\": 1,\n      \"day\": 0,\n      \"type\": \"Phone Call\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"[Live phone call – no voicemail]\",\n      \"notes\": \"Trigger a double-dial attempt within 5 minutes of receiving the lead.\"\n    },\n    {\n      \"step\": 2,\n      \"day\": 0,\n      \"type\": \"SMS\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"\",\n      \"body\": \"Hey [First Name]! [Agent Name] here from [Team Name]. I just came across something that perfectly matches your [buyer/seller] goals. Got a minute?\",\n      \"notes\": \"\"\n    },\n    {\n      \"step\": 3,\n      \"day\": 0,\n      \"type\": \"Email\",\n      \"number\": 1,\n      \"daysAfterLastStep\": 0,\n      \"subject\": \"Toronto Investment Goldmine Awaits – Are You In?\",\n      \"body\": \"Hey [First Name],\\n\\nWelcome to the most entertaining (and lucrative) investment ride you’ll ever take in Toronto! I’m John, and my mission is to help savvy investors like you spot those hidden goldmines—while having a bit of fun along the way.\\n\\n🚀 \",\n      \"notes\": \"First email should have a compelling hook and humor.\"\n    }\n  ]\n}\n",
        "height": 888,
        "width": 362,
        "color": 6
      },
      "id": "408df2e9-3328-4833-bad4-84286787d5df",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        2440
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        2980
      ],
      "id": "75494cc1-5cb3-48fe-b9c0-acf0fb5c574e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "J7FvW5h51etk1zFV",
          "name": "Postgres account 3"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-02-14T02:39:11.748Z",
      "updatedAt": "2025-02-14T02:39:11.748Z",
      "role": "workflow:owner",
      "workflowId": "bJHzzjjrpueixIXH",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-03-22T05:31:50Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-02-07T17:47:19Z"
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-28T15:39:54.555Z",
      "updatedAt": "2025-01-28T15:39:54.555Z",
      "id": "Tazq9yBPXhCR1zdX",
      "name": "RAG"
    },
    {
      "createdAt": "2025-02-14T16:56:51.849Z",
      "updatedAt": "2025-02-14T16:56:51.849Z",
      "id": "g5SEFenIZT3364V0",
      "name": "Follow Up Factory"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2025-02-20T15:17:32.000Z",
  "versionId": "109d6a2f-877c-4828-8772-a14fb00984c1"
}