Gametape Submission Portal Requests.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T18:45:10.682Z",
  "id": "VvDRcHkFgO7ID3nT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gametape Submission Portal Requests",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gametape",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        120
      ],
      "id": "a55f9fd9-f008-4b9b-924f-ddb08e3e6d93",
      "name": "Webhook",
      "webhookId": "ea6a341c-a827-49d3-a163-26594d52b1ac"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1831d08c-4f5a-809b-9daa-fdc60f003a4b",
          "mode": "list",
          "cachedResultName": "GameTape Submissions",
          "cachedResultUrl": "https://www.notion.so/1831d08c4f5a809b9daafdc60f003a4b"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Agent Name|rich_text",
              "textContent": "={{ $json.Name }}"
            },
            {
              "key": "Submission Date|date",
              "date": "={{ $json.SubmissionDate }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $json.URL }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.ClientName }}"
            },
            {
              "key": "Strenghts|rich_text",
              "textContent": "={{ $json.Strengths }}"
            },
            {
              "key": "Improve|rich_text",
              "textContent": "={{ $json.Improvement }}"
            },
            {
              "key": "Notes |rich_text",
              "textContent": "={{ $json.Notes }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $json.InteractionDate }}"
            },
            {
              "key": "Type|select",
              "selectValue": "={{ $json.Type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        580,
        340
      ],
      "id": "cf17bc44-a464-4920-b739-5ae4bd5ea3a6",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "3EhNxVoPGBbOY9vC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -20,
        125
      ],
      "id": "92c5087d-4bef-4405-a937-a95d4a16fda4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming data\nconst incomingData = items[0].json;\nconst commonData = {\n  Name: incomingData.body.full_name,\n  Type: incomingData.body.submission_type,\n  Email: incomingData.body.email,\n  SubmissionDate: incomingData.body.submission_date\n};\n\n// Create a new array of items with one item per recording\nconst recordings = incomingData.body.recordings;\nconst result = [];\n\n// Loop through each recording and create a new item\nfor (const recording of recordings) {\n  result.push({\n    json: {\n      ...commonData,\n      URL: recording.url,\n      ClientName: recording.client_name,\n      InteractionDate: recording.interaction_date,\n      Notes: recording.timestamp_notes,\n      Strengths: recording.strengths, // Add logic if this comes from somewhere\n      Improvement: recording.improvements // Add logic if this comes from somewhere\n    }\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        125
      ],
      "id": "e2ad2704-7fd9-47f4-9b10-71d662c813be",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e37476ff-6eb7-4cb0-a4d3-64688ef5fc29",
              "leftValue": "={{ $json.Type }}",
              "rightValue": "marketing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        140
      ],
      "id": "c08b6004-4353-47bc-9342-c72c868545c6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1831d08c-4f5a-809b-9daa-fdc60f003a4b",
          "mode": "list",
          "cachedResultName": "GameTape Submissions",
          "cachedResultUrl": "https://www.notion.so/1831d08c4f5a809b9daafdc60f003a4b"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Agent Name|rich_text",
              "textContent": "={{ $json.Name }}"
            },
            {
              "key": "Submission Date|date",
              "date": "={{ $json.SubmissionDate }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $json.URL }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.ClientName }}"
            },
            {
              "key": "Notes |rich_text",
              "textContent": "={{ $json.Notes }}"
            },
            {
              "key": "Date|date",
              "date": "={{ $json.InteractionDate }}"
            },
            {
              "key": "Type|select",
              "selectValue": "={{ $json.Type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        580,
        120
      ],
      "id": "c1b372a7-a57c-4001-87ef-97581f50f6a0",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "3EhNxVoPGBbOY9vC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## https://gametape.salesgenius.co/",
        "height": 80,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        -120
      ],
      "id": "9884f466-70df-47c4-8320-adfa0dbdf975",
      "name": "Sticky Note"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-07T18:45:10.687Z",
      "updatedAt": "2025-04-07T18:45:10.687Z",
      "role": "workflow:owner",
      "workflowId": "VvDRcHkFgO7ID3nT",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-07T19:31:33.000Z",
  "versionId": "9b8a7dde-61e4-49fd-9127-87b93ece0e78"
}