Leadsie - New Connection.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "New Leadsie Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-04T19:32:08.490Z",
  "id": "p81wWY6tVHi88To1",
  "meta": null,
  "name": "Leadsie - New Connection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadsie",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7d65c205-b36a-4eac-8b54-df9bdfb7a033",
      "name": "Webhook",
      "webhookId": "fdda5d97-6d69-4a01-9e87-9d0401a935be"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cef057ec-cd46-4f30-b403-9f32ba97c368",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "dfd94109-97e0-4b89-aca7-44823f5ad101",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Acceder al campo 'body' dentro del objeto 'json' del primer elemento\nconst bodyString = items[0].json.body;\n\n// Parsear el string JSON a un objeto\nconst parsedBody = JSON.parse(bodyString);\n\n// Devolver el objeto parseado\nreturn [{ json: parsedBody }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "37d25172-cd31-4a40-80aa-9e8cfc4c0bd6",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"1cb1d08c4f5a80feb64ccef98d2359b4\"\n  },\n  \"properties\": {\n    \"Name\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.connectionAssets[0].name }}\"\n          }\n        }\n      ]\n    },\n    \"Type\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.connectionAssets[0].type }}\"\n          }\n        }\n      ]\n    },\n    \"ID\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.connectionAssets[0].id }}\"\n          }\n        }\n      ]\n    },\n    \"Account\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.clientName }}\"\n          }\n        }\n      ]\n    },\n    \"Status\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.status }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        0
      ],
      "id": "7d2eba59-89e0-49df-889e-c710971cf4d4",
      "name": "New Leadsie Credentials",
      "retryOnFail": true,
      "credentials": {
        "notionApi": {
          "id": "3EhNxVoPGBbOY9vC",
          "name": "Notion account"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-04T19:32:08.497Z",
      "updatedAt": "2025-04-04T19:32:08.497Z",
      "role": "workflow:owner",
      "workflowId": "p81wWY6tVHi88To1",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-04T20:39:04.000Z",
  "versionId": "dfb38ea2-5191-4576-9297-b955baae0392"
}