My workflow.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-23T17:17:37.176Z",
  "id": "KUs4sR4hnCO2TlkZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "95520e73-6dd4-4263-b9f7-23584e8c859a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1600,
        -400
      ],
      "id": "6b4283af-3250-4a73-aaf6-ca6c9bac7396",
      "name": "Webhook",
      "webhookId": "95520e73-6dd4-4263-b9f7-23584e8c859a"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You’re a world class direct response copywriter who specializes in crafting incredibly landing page copy. You’re a master of the underlying principles of human emotion. You also have incredible pattern recognition. And you can easily identify the structure of other landing pages, and adapt those landing pages into NEW markets. To sell ANY product or service.\n\nYour objective today is to write me HIGH converting landing page copy to collect the contact information of our target audience: {{ $json.body.form_response.definition.fields[6].type }}\n\nYour copy is riveting and grips the audience. It speaks to their pain points and desires. It gets them to rush to give us their contact information.\n\nThe core components of the landing we are going to build are:\nEyebrow Copy Headline\nSub-Headline\n3 Bullet Points A Clear Call To Action Button  Your copy must let them know they will answer 4 short questions & they will be entered immediately for their chance to win.  You always use grade 4 reading level, and short sentences. \n\nYour copy is riveting and grips the audience. It speaks to their pain points and desires. It gets them to rush to give us their contact information.\n\nThe core components of the landing we are going to build are:\nEyebrow Copy Headline\nSub-Headline\n3 Bullet Points A Clear Call To Action Button  Your copy must let them know they will answer 4 short questions & they will be entered immediately for their chance to win.  You always use grade 4 reading level, and short sentences.\n\nHere is the information for our giveaway funnel:                                      {{ $json.body.form_response.definition.fields[0].title }}{{ $json.body.form_response.definition.fields[0].type }}{{ $json.body.form_response.definition.fields[1].title }}{{ $json.body.form_response.definition.fields[1].type }}{{ $json.body.form_response.definition.fields[2].title }}{{ $json.body.form_response.definition.fields[2].type }}{{ $json.body.form_response.definition.fields[3].title }}{{ $json.body.form_response.definition.fields[3].type }}{{ $json.body.form_response.definition.fields[4].title }}{{ $json.body.form_response.definition.fields[4].type }}{{ $json.body.form_response.definition.fields[5].title }}{{ $json.body.form_response.definition.fields[5].type }}{{ $json.body.form_response.definition.fields[6].title }}{{ $json.body.form_response.definition.fields[6].type }}{{ $json.body.form_response.definition.fields[7].title }}{{ $json.body.form_response.definition.fields[7].type }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2060,
        -400
      ],
      "id": "a2be2c2f-c3f5-4084-bda8-486f1858cf8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        2040,
        -200
      ],
      "id": "b5ffebf9-0f4b-48f8-b4f9-526a7b4e7ca5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OLHtLOP5C47dG8d5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2140,
        -240
      ],
      "id": "a15128d1-8537-486c-a311-847030c33bed",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2260,
        -180
      ],
      "id": "dc53221e-4648-45d3-9a0c-f4fa0bc040bc",
      "name": "Calculator"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-01-23T17:17:37.182Z",
      "updatedAt": "2025-01-23T17:17:37.182Z",
      "role": "workflow:owner",
      "workflowId": "KUs4sR4hnCO2TlkZ",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T20:50:48.000Z",
  "versionId": "df606cce-39a0-4e36-a2d4-bbe1008f008c"
}