Pro Client Folder Creator.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client Images_bg": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Update Client Images_bg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-08T18:41:19.249Z",
  "id": "3gUA7vMPvUMxqMzY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pro Client Folder Creator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        -60
      ],
      "id": "07ae3552-cb6f-40c5-9f7e-c3c78f03ad2a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/1cf1d08c4f5a816c9d31ec6d5345dbb9",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Client Folder\": {\n      \"type\": \"url\",\n      \"url\": \"https://drive.google.com/drive/u/0/folders/{{ $json.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -60
      ],
      "id": "f060e786-188f-44d3-9b7c-1541b8835838",
      "name": "Update Client Images_bg",
      "retryOnFail": true,
      "credentials": {
        "notionApi": {
          "id": "3EhNxVoPGBbOY9vC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "tests",
          "mode": "name"
        },
        "text": "=:gear: *Automation Update:* Pro Client Google Drive Folder Created for {{ $json.properties.Client.title[0].text.content }} *<{{ $json.properties['Client Folder'].url }}| Click Here to Access>*",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "unfurl_links": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        300,
        -60
      ],
      "id": "02fccb00-4963-43c3-be55-8ad0af335d0b",
      "name": "Slack",
      "webhookId": "ce742f32-520f-409e-8b06-27356ddfef30",
      "credentials": {
        "slackApi": {
          "id": "5goi1ZcCB6TvJ8SQ",
          "name": "OAuth User"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Mauricio Perera | PRO CLIENT FOLDER",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ear_RBIU9cwx2Sjx6AL3O6hxezTNflAk",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -220,
        -60
      ],
      "id": "ab9f5736-f432-4476-8c00-f2e7ff078d48",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tEDUQKIOBAWPpPPb",
          "name": "Google Drive account 4"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-04-08T18:41:19.258Z",
      "updatedAt": "2025-04-08T18:41:19.258Z",
      "role": "workflow:owner",
      "workflowId": "3gUA7vMPvUMxqMzY",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-08T21:15:51.000Z",
  "versionId": "ef21137d-ab10-4630-aef7-e1754ac1d397"
}