Update Realm Link for Shortened URL - Taylor - Lofts.json
{
  "active": true,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-21T20:38:11.308Z",
  "id": "Iux8nlkPxuIoAfG7",
  "meta": null,
  "name": "Update Realm Link for Shortened URL - Taylor - Lofts",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Taylor Loft Hot List Link Updater",
        "formDescription": "Enter your new realm link below:",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "http://app.realmmlp.ca/........",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Change URL Now",
          "path": "taylor-lofts"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "83dbe850-6ce9-4323-a125-d7d4fad8d280",
      "name": "On form submission",
      "webhookId": "de8c449e-ca03-4277-accc-a963ca188ef1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://go.yourhomebase.ca/yourls-api.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "signature",
              "value": "6aac323d2b"
            },
            {
              "name": "action",
              "value": "save_by_keyword"
            },
            {
              "name": "url",
              "value": "={{ $json.URL }}"
            },
            {
              "name": "keyword",
              "value": "taylorlofts"
            },
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "cddc49a7-a822-4703-9b2e-fd723008cf1a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "=Done! {{ $json.message }}",
        "completionMessage": "={{ $json.shorturl }}",
        "options": {
          "formTitle": "DONE"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "68de07e0-2c49-414b-9311-f7f655e95289",
      "name": "Form",
      "webhookId": "21f9e55d-c933-405d-83f1-435315fa6acb"
    },
    {
      "parameters": {
        "content": "## Access Here: https://n8n.salesgenius.co/form/taylor-lofts",
        "height": 80,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -100
      ],
      "id": "a76fd87a-eb99-4eae-90db-72cd987a77f6",
      "name": "Sticky Note"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-02-21T20:38:11.312Z",
      "updatedAt": "2025-02-21T20:38:11.312Z",
      "role": "workflow:owner",
      "workflowId": "Iux8nlkPxuIoAfG7",
      "projectId": "JPifOz0qwqZ4t1q3",
      "project": {
        "createdAt": "2025-01-22T02:43:20.320Z",
        "updatedAt": "2025-01-22T02:44:04.001Z",
        "id": "JPifOz0qwqZ4t1q3",
        "name": "Emma Pace <emma@salesgenius.co>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2025-01-22T02:43:20.320Z",
            "updatedAt": "2025-01-22T02:43:20.320Z",
            "role": "project:personalOwner",
            "userId": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
            "projectId": "JPifOz0qwqZ4t1q3",
            "user": {
              "createdAt": "2025-01-22T02:43:19.556Z",
              "updatedAt": "2025-02-14T18:38:15.546Z",
              "id": "f8bb0fb6-1857-45fa-9ac1-27b6e6497323",
              "email": "emma@salesgenius.co",
              "firstName": "Emma",
              "lastName": "Pace",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-01-22T02:45:22.428Z",
                "personalization_survey_n8n_version": "1.74.3",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "TotyBJ1rIIIGlYrK",
                "userActivatedAt": 1737997390312,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1739558292687
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-02-21T21:10:17.000Z",
  "versionId": "41e1da48-31b6-40dc-a2f4-65deb0590d10"
}